.layerTool {
  background: #ccc;
  padding: 2px;
  font-size: 9pt;
}

.layer {
  position: absolute;
}

.layerPreview {
	margin: 2px;
  background-image: url(https://open2ch.net/image/oekaki/background.png);
  border: solid 2px #666;
	cursor: pointer;
}

.layerPreviewDiv {
	display: inline-block;
}

.layerNameDisp {
	position: absolute;
	margin: 4px;
	cursor: text;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
}

.layerNameInput {
	position: absolute;
	margin: 4px;
	display: none;
}

.pattern {
  vertical-align: middle;
  border: 1px solid #000;
}

.selected {
  border: solid 2px #F00;
}

.layerDisplayNone {
  display: none;
}

.previewDisplayNone {
  opacity: 0.3;
}

.pict {
	display: none;
}

.mojiInput {
  margin: 0;
  font: 0.8em;
}

.toolIcon {
	width: 18px;
	height: 18px;
}

.nub {
	position: absolute;
	width: 6px;
	height: 6px;
	margin: -5px;
	background: #3F9FFF;
	border: 2px solid white;
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(0, 0, 0 , 0.5);
	cursor: move;
}

.errmsg {
	font-size: 10;
	color: red;
}
